@import "../../../../../scss/variables/colors";

.post {
  &-container {
    width: 100%;
    background: $white;
    border-radius: 6px;
    padding: 20px;
    color: $right-side-color;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;

  }
  &-title {
    color: $dark-blue;
  }
  &-text {
    color: $black;
    margin: 15px 0;
    font-size: 1rem;
    & span {
      color: $right-side-color;
      font-weight: 500;
    }
  }
  &-tag-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
  &-tag {
    color: $dark-blue;
    text-decoration: none;
  }
  &-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
