<div class="post-container">
  <div class="post-row">
    <app-profile-picture [userProfile]="post?.author">
    </app-profile-picture>
  </div>
  <h2 class="post-title">{{post?.title}}</h2>
  <span>{{ post?.createdAt | date }}</span>
  <p class="post-text">
    {{ post?.body }}
  </p>
  <div class="post-tag-container">
    <a class="post-tag" *ngFor="let tag of post?.tagList" [routerLink]="['/home/posts', tag]"
      >#{{ tag }}</a
    >
  </div>
  <img [src]="post?.image" alt="" class="post-img" />
  <div class="post-row">
    <div class="activity-icons">
      <div>
        <img src="assets/images/like-blue.png" alt="" />{{
          post?.favoritesCount
        }}
      </div>
    </div>
  </div>
</div>
