<ng-container *ngIf="data$ | async as data">
  <div class="profile-container">
    <app-profile-detail
      [userProfile]="data.userProfile || null"
    ></app-profile-detail>
    <div class="profile-info">
      <div class="info-col">
        <div class="profile-intro">
          <h3>Intro</h3>
          <p class="intro-text">
            Believe in yoursel and you can do unbeliable things.
            <img src="assets/images/feeling.png" alt="" />
          </p>
          <hr />
        </div>

        <aside>
          <div class="profile-intro">
            <!-- Photos -->
            <app-profile-photo-box
              [pictures]="data.userProfile?.photos || []"
            ></app-profile-photo-box>
          </div>
          <div class="profile-intro">
            <ng-container *ngIf="data.userProfile?.friends; else emptyFriends">
              <app-profile-friend-list
                [friends]="data.userProfile?.friends || []"
              ></app-profile-friend-list>
            </ng-container>
          </div>
        </aside>
      </div>
      <main id="main" class="post-col">
        <app-post-writer
          *ngIf="data.currentUser?.id === data.userProfile?.id"
        ></app-post-writer>
        <ng-container *ngIf="data.posts && data.posts.length; else emptyPosts">
          <app-post-list
            [postList]="data.posts"
            (currentPageEvent)="onCurrentPage()"
            [postTitle]="
              data.userProfile !== null && data.userProfile
                ? data.userProfile.firstname + ' ' + data.userProfile.lastname
                : ''
            "
          ></app-post-list>
        </ng-container>
      </main>
    </div>
  </div>
</ng-container>

<ng-template #emptyFriends>
  <h3>Friends</h3>
  <p>No Friends to display</p>
</ng-template>

<ng-template #emptyPosts>
  <div class="profile-intro">
    <p>There is no posts to display</p>
  </div>
</ng-template>
