<div class="home-container" *ngIf="data$ | async as data">
  <div class="home-left-sidebar">
    <app-panel>
      <div class="home-side-bar-title">
        <h4>Shorcuts</h4>
      </div>
      <div class="home-imp-links">
        <app-profile-picture
          [userProfile]="data.currentUser"
          [showProfileLink]="true"
        ></app-profile-picture>
        <a href="#" class="blue-link"
          ><img src="assets/images/friends.png" alt="" />Friends</a
        >
        <a href="#" class="blue-link"
          ><img src="assets/images/group.png" alt="" />Groups</a
        >
      </div>
    </app-panel>
    <app-panel>
      <div class="home-side-bar-title">
        <h4>Tags</h4>
      </div>
      <div class="home-tag-container">
        <a
          [routerLink]="['/home/posts', tag.tag]"
          class="blue-link"
          *ngFor="let tag of data.tags"
          >#{{ tag.tag }}</a
        >
      </div>
    </app-panel>
  </div>
  <!-- Main content -->
  <div class="home-main-content">
    <app-post-list
      [postList]="data.posts"
      (currentPageEvent)="getPostData()"
    ></app-post-list>
  </div>
</div>
