<div class="home-container" *ngIf="data$ | async as data">
  <aside class="home-left-sidebar" role="complementary" aria-label="Shorcuts panel">
    <app-panel>
      <div class="home-side-bar-title">
        <h4>Shorcuts</h4>
      </div>
      <div class="home-imp-links">
        <app-profile-picture
          [userProfile]="data.currentUser"
          [showProfileLink]="true"
        ></app-profile-picture>
        <a [routerLink]="['/home/friends']" class="blue-link"
          ><img src="assets/images/friends.png" alt="" />Friends</a
        >
        <!-- To be implemented -->
       <!--  <a [routerLink]="['/home/groups']" class="blue-link"
          ><img src="assets/images/group.png" alt="" />Groups</a
        > -->
      </div>
    </app-panel>
    <app-panel>
      <div class="home-side-bar-title">
        <h4>Tags</h4>
      </div>
      <div class="home-tag-container">
        <a
          [routerLink]="['/home/posts', tag.tag]"
          class="blue-link"
          *ngFor="let tag of data.tags"
          >#{{ tag.tag }}</a
        >
      </div>
    </app-panel>
  </aside>
  <!-- Main content -->
  <main class="home-main-content" id="main">
    <h1 class="home-title">Global Posts</h1>
    <app-post-list
      [postList]="data.posts"
      (currentPageEvent)="getPostData()"
      [postTitle]="'Global'"
    ></app-post-list>
  </main>
</div>
