.auth-layout {
  &-container {
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/images/background-login.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
}
