@import "../../../../scss/variables/colors";
@import "../../../../scss/mixings/media-queries";

.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  @include tablet {
    width: 30px;
  }
}

.nav-user-icon {
  margin-left: 30px;
  @include tablet {
    margin-left: 0;
  }
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid $light;
  border-radius: 50%;
  background: $green;
  position: absolute;
  top: 0;
  right: 0;
}

.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}

.settings-menu-height {
  max-height: 450px;
}



.settings-menu-inner {
  padding: 20px;
}

.settings-menu hr {
  border: 0;
  height: 1px;
  background: $dusty-gray;
  margin: 15px 0;
}

.settings-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.settings-links .settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 15%;
}

.settings-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $right-side-color;
}




#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: $gray80;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
  width: 18px;
  height: 18px;
  background: $white;
  border-radius: 50%;
  display: inline-block;
}

#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: $body-color-dark;
}