<div class="nav-user-icon online" (click)="settingsMenuToggle()">
  <img src="assets/images/profile-pic.png" alt="" />
</div>
  <!-- Settings menu -->
  <div class="settings-menu" #settingsMenu>
    <div id="dark-btn" (click)="darkMode()">
      <span></span>
    </div>

    <div class="settings-menu-inner">
     <app-profile-picture [showProfileLink]="true"></app-profile-picture>
      <hr>
      <div class="settings-links">
        <img src="assets/images/feedback.png" alt="" class="settings-icon"/>
        <a href="#">Help us to improve the new design</a>
      </div>
      <hr>
      <div class="settings-links">
        <img src="assets/images/setting.png" alt="" class="settings-icon">
        <a href="#">Settings & Privacy <img src="assets/images/arrow.png" alt="" width="10px"></a>
      </div>
      <div class="settings-links">
        <img src="assets/images/help.png" alt="" class="settings-icon">
        <a href="#">Help & Support <img src="assets/images/arrow.png" alt="" width="10px"></a>
      </div>
      <div class="settings-links">
        <img src="assets/images/display.png" alt="" class="settings-icon">
        <a href="#">Display & Accesibility <img src="assets/images/arrow.png" alt="" width="10px"></a>
      </div>
      <div class="settings-links">
        <img src="assets/images/logout.png" alt="" class="settings-icon">
        <a [routerLink]="['/auth/login']">Logout <img src="assets/images/arrow.png" alt="" width="10px"></a>
      </div>
    </div>
  </div>