<ng-container *ngIf="data$ | async as data">
  <div class="nav-user-icon online" (click)="settingsMenuToggle()">
    <img
      [src]="
        data.currentUser?.image
          ? data.currentUser?.image
          : 'assets/images/user-default-2.png'
      "
      alt=""
    />
  </div>
  <!-- Settings menu -->
  <div class="settings-menu" #settingsMenu>
    <div class="settings-menu-inner">
      <app-profile-picture
        [userProfile]="data.currentUser"
        [showProfileLink]="true"
      ></app-profile-picture>
      <hr />
      <div class="settings-links">
        <img src="assets/images/feedback.png" alt="" class="settings-icon" />
        <a href="#">Help us to improve the new design</a>
      </div>
      <hr />
      <div class="settings-links">
        <img src="assets/images/setting.png" alt="" class="settings-icon" />
        <a href="#"
          >Settings & Privacy
          <img src="assets/images/arrow.png" alt="" width="10px"
        /></a>
      </div>
      <div class="settings-links">
        <img src="assets/images/logout.png" alt="" class="settings-icon" />
        <a href="javascript:void(0)" (click)="logout()"
          >Logout <img src="assets/images/arrow.png" alt="" width="10px"
        /></a>
      </div>
    </div>
  </div>
</ng-container>
