<div class="write-post-container">
  <app-profile-picture *ngIf="profileUser" [userProfile]="profileUser">
  </app-profile-picture>
  <div class="post-input-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="text"
        placeholder="Title"
        id="title"
        formControlName="title"
      />

      <textarea
        name="body"
        id="body"
        formControlName="body"
        rows="3"
        placeholder="What's on your mind, Jhon"
      ></textarea>
      <button type="submit" class="button button-small">Post</button>
    </form>
  </div>
</div>
