@import "../../../../scss/variables/colors";
@import "../../../../scss/mixings/media-queries";

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $nav-color-light;
  padding: 5px 5%;
}

.logo {
  width: 160px;
  margin-right: 45px;
  @include tablet {
    width: 110px;
    margin-right: 20px;
  }
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
  @include tablet {
    width: 20px;
    margin: 0 8px;
  }
}

.search-box {
  background: $light;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  @include tablet {
    display: none;
  }
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
