<header>
   <!-- Navigation bar -->
 <nav>
  <div class="nav-left">
    <a href="index.html">
      <img src="assets/images/logo.png" class="logo" />
    </a>
    <ul>
      <li><img src="assets/images/notification.png" class="" /></li>
      <li><img src="assets/images/inbox.png" class="" /></li>
      <li><img src="assets/images/video.png" class="" /></li>
    </ul>
  </div>
  <div class="nav-right">
    <div class="search-box">
      <img src="assets/images/search.png" alt="" />
      <input type="text" placeholder="Search" />
    </div>
    <app-settings></app-settings>
  </div>
</nav>
</header>
