<div class="write-post-container">
  <app-profile-picture>
    <small>Public <i class="fa-solid fa-caret-down"></i></small>
  </app-profile-picture>
  <div class="post-input-container">
    <textarea
      name=""
      id=""
      rows="3"
      placeholder="What's on your mind, Jhon"
    ></textarea>
    <div class="add-post-links">
      <a href=""
        ><img src="assets/images/live-video.png" alt="" /> Live Video</a
      >
      <a href=""
        ><img src="assets/images/photo.png" alt="" /> Photo/Video</a
      >
      <a href=""
        ><img src="assets/images/feeling.png" alt="" /> Feelling Activity</a
      >
    </div>
  </div>
</div>
