<div class="form-box">
  <h1>Sign Up</h1>
  <form action="">
    <div class="input-group">
      <div class="input-field">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="userName" id="userName" placeholder="Name" />
      </div>
      <div class="input-field">
        <i class="fa-solid fa-envelope"></i>
        <input
          type="text"
          name="userEmail"
          id="userEmail"
          placeholder="Email"
        />
      </div>
      <div class="input-field">
        <i class="fa-solid fa-lock"></i>
        <input
          type="text"
          name="userPassword"
          id="userPassworde"
          placeholder="Password"
        />
      </div>
      <p>Sign In <a [routerLink]="['/auth/login']">Click Here!</a></p>
      <p>Lost Password <a href="">Click Here!</a></p>
    </div>
    <div class="btn-field">
      <button type="button" class="button button-blue">Sign Up</button>
      <button type="button" class="button button-disable">Sign In</button>
    </div>
  </form>
</div>

