<div class="user-profile">
  <img
    [src]="
      userProfile?.image
        ? userProfile?.image
        : 'assets/images/user-default-2.png'
    "
    alt=""
    class="user-profile-image"
  />
  <div>
    <ng-container *ngIf="showProfileLink">
      <p>{{ userProfile?.username }}</p>
      <a
        class="blue-link"
        [routerLink]="['/home/profile', userProfile?.firstname]"
        [queryParams]="{ userId: userProfile?.id }"
        *ngIf="showProfileLink"
        >See your profile</a
      >
    </ng-container>

    <a
      class="blue-link"
      #linkToProfile
      [routerLink]="[
        '/home/profile',
        userProfile?.firstname ? userProfile?.firstname : userProfile?.username
      ]"
      [queryParams]="{ userId: userProfile?.id }"
      *ngIf="!showProfileLink"
      >{{
        userProfile?.firstname ? userProfile?.firstname : userProfile?.username
      }}</a
    >

    <ng-content></ng-content>
  </div>
</div>
