@import "./variables/colors";

.button {
  flex-basis: 48%;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  font-size: 1rem;
  &-blue {
    background: $blue;
    color: $white;
  }
  &-disable {
    background-color: $light-gray;
    color: $medium-gray;
  }
  &-load-more {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
  }

  &-small {
    background: $blue;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    justify-content: center;
    width: 100px;
  }
}
