@import "./variables/colors";

.form {
  &-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    padding: 50px 60px 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    & h1 {
      font-size: 30px;
      margin-bottom: 60px;
      color: $dark-blue;
    }
    & p {
      text-align: left;
      font-size: 13px;
      margin-bottom: 8px;
    }
  }
}

.input {
  &-group {
    width: 100%;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      
      &-label {
        display: flex;
        gap: 0.5rem;
        & span {
          color: $dark-red;
        }
      }
    }
  }
  &-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    & input,
    select {
      width: 100%;
      background: transparent;
      border: 0;
      outline: 0;
      padding: 18px 15px;
    }
    & i {
      margin-left: 15px;
      color: #999;
    }
    &-invalid {
      border: solid 1px $danger;
    }
     &:focus-within {
      outline: none;
      box-shadow: 0 0 0 0.125rem $white, 0 0 0 calc(0.125rem * 2) $cyan;
    }
  }
}

.required-fields {
  color: $dark-red;
  font-size: $small;
}

.error-message {
  color: $dark-red;
  font-size: $medium;
}
