<ng-container *ngIf="data$ | async as data">
  <div class="profile-container">
    <img [src]="data.currentUser?.cover" alt="" class="cover-img" />
    <div class="profile-details" *ngIf="data.currentUser as currentUser">
      <div class="pd-left">
        <div class="pd-row">
          <img [src]="currentUser.image" alt="" class="pd-image" />
          <div>
            <h3>{{currentUser.firstname}} {{currentUser.lastname}}</h3>
            <p *ngIf="data.currentUser.friends">Friends: {{currentUser.friends.length}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-info">
      <div class="info-col">
        <div class="profile-intro">
          <h3>Intro</h3>
          <p class="intro-text">
            Believe in yoursel and you can do unbeliable things.
            <img src="assets/images/feeling.png" alt="" />
          </p>
          <hr />
        </div>

        <div class="profile-intro">
         <!-- Photos -->
          <app-profile-photo-box [pictures]="data.currentUser?.photos || []"></app-profile-photo-box>
        </div>
        <div class="profile-intro">
          <ng-container *ngIf="data.currentUser?.friends;else emptyFriends">
            <app-profile-friend-list [friends]="data.currentUser?.friends || []"></app-profile-friend-list>
          </ng-container>
        </div>
      </div>
      <div class="post-col">
        <app-post-writer></app-post-writer>
        <ng-container *ngIf="data.posts">
          <app-post-list [postList]="data.posts"></app-post-list>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #emptyFriends>
  <h3>Friends</h3>
  <p>No Friends to display</p>
</ng-template>